.error
  .image
    width 350px
    height 100%
    margin 0 auto
  .button
    width 300px
    color #fff
    border 1px solid #fff
    margin 10px auto
    &:hover
      color #282c34
      background-color #fff