.error
  .card, .cardContent
    background-color transparent
    box-shadow none
  .image
    width 24rem
    height 100%
    margin 1rem auto
  .button
    width 20rem
    color #fff
    border 1px solid #fff
    margin .5rem auto
    &:hover
      color #282c34
      background-color #fff