.practice
  padding 2rem
  color #fff
  ul
    margin-block-end 0
  li
    line-height 1.4

  .breadcrumb li
    color #fff
    font-size 1rem
  .header
    border-bottom 1px solid #BBE1FA
    .title
      text-align left
      margin .5rem 0
  .drawer
    position inherit
    .MuiPaper-root
      color #fff
      position relative
      background-color transparent
      box-sizing border-box
      border-right 1px solid #BBE1FA
      
  .time
    text-align right
    color #BBE1FA
    margin 0 0 .5rem
    font-size 0.8rem
    transform skew(-15deg)
    letter-spacing .2rem

  .text-field 
    width 100%
    margin 2rem 0
    & .MuiOutlinedInput-notchedOutline
      border-color #BBE1FA

    &:hover .MuiOutlinedInput-notchedOutline
      border-color #BBE1FA

    &.Mui-focused .MuiOutlinedInput-notchedOutline
      border-color #BBE1FA

    label, input
      color #BBE1FA  
      
  .data
    font-size 1rem
    max-width 48rem
    height 30rem
    overflow scroll
